<h1 class="mt-5">Selectores anidados</h1>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Regiones -->
    <div class="row mb-3">
        <label class="form-label">Continente</label>
        <select class="form-control" formControlName="region">
            <option value=""> -- Seleccione Continente --</option>
            <option *ngFor="let region of regiones" [value]="region | lowercase">
                {{region}}
            </option>
        </select>
    </div>
    <!-- Paises -->
    <div class="row mb-3" *ngIf="paises.length > 0">
        <label class="form-label">Paises</label>
        <select class="form-control" formControlName="pais">
            <option value=""> -- Seleccione Pais --</option>
            <option *ngFor="let pais of paises" [value]="pais.cca3 | lowercase">
                {{pais.name.common}}
            </option>
        </select>
    </div>
    <!-- Frontera -->
    <div class="row mb-3" *ngIf="fronteras.length > 0">
        <label class="form-label">Frontera</label>
        <select class="form-control" formControlName="frontera">
            <option value=""> -- Seleccione un pais fronterizo --</option>
            <option *ngFor="let frontera of fronteras" [value]="frontera.cca3">
                {{frontera.name.common}}
            </option>
        </select>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">
                Seleccionar
            </button>
        </div>
    </div>
</form>
<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>Value: {{miFormulario.value | json}}</pre>